body {
    background-color: #0A223D;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #BDBDBD;
}

* {
   box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
   max-width: 1160px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 25px;
}

.footer__row {
   display: flex;
   padding-top: 108px;
   justify-content: space-between;
}

.first__wrapper {
    display: flex;
    width: 50%;
}

.logotype__wrapper {
    align-self: flex-end;
}

.categories__wrapper {
   padding-left: 100px;
}

.heading {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
} 

.item:not(:last-child) {
    margin-bottom: 10px;
}


.line {
    text-decoration: none;
    color: #BDBDBD;
}

.second__wrapper {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.network__wrapper {
    display: flex;
    padding-top: 25px;
}

.network__title {
    margin-right: 25px;
}

.network__list {
    display: flex;
}

.network__item {
    margin-right: 10px;
}

.contact__wrapper {
    width: 50%;
    padding-right: 20px;
}

.contact__text {
    padding-bottom: 20px;
}

.contact__address {
    padding-bottom: 30px;
    position: relative;
    padding-left: 50px;
}
.contact__map {
    background-image: url("img/map-icon.svg");
    width: 24px;
    height: 25px;
    display: inline-block;
    position: absolute;
    left: 0;
}

.contact__list {
   position: relative;
   padding-left: 50px;
}

.contact__item {
    padding-top: 10px;
}

.contact__tell {
    background-image: url("img/tell-icon.svg");
    width: 19px;
    height: 17px;
    display: inline-block;
    position: absolute;
    left: 0;
}
.contact__e-mail-text {
    padding-top: 30px;
    position: relative;
    padding-left: 50px;
}
.contact__e-mail-icon {
    background-image: url("img/e-mail-icon.svg");
    width: 18px;
    height: 14px;
    display: inline-block;
    position: absolute;
    left: 0;
}

.message__wrapper {
    width: 50%;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    
}
.input__name {
   width: 255px; 
   height: 50px;
   border-radius: 4px;
}

.input__message {
   width: 555px; 
   height: 123px;
   border-radius: 4px;
   margin-top: 15px;
}

.input__phone {
   width: 255px;
   height: 50px;
   border-radius: 4px;
   
   
}

.font::placeholder {
   font-family: 'Mulish', sans-serif;
   font-size: 12px;
   padding-left: 23px;
} 

.font__message {
   padding-top: 18px;
}  

.button__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.message__button {
    background-color: #EC1F46;
    width: 160px;
    height: 50px;
    border-color: #EC1F46;
    border-radius: 4px;
    color:#FFFFFF;
    font-weight: bold;

}

.message__footnote {
    color: #E0E0E0;
    align-self: center;
    
}

.footer__row--noflex {
    display: block;
    
}
.disclaimer__wrapper {
    display: flex;
    justify-content: center;    
}

.disclaimer__list {
    display: flex;
    padding-right: 20px;
}

.disclaimer__item {
   padding-right: 10px;
}

.icons__wrapper {
   display: flex;
   justify-content: flex-end;
   margin-top: -20px;
}

@media screen and (max-width: 767px) {
    
    .footer__row {
      display: block;
      text-align: center;
    }
 
    .first__wrapper {
      display: block;
    }
 
    .second__wrapper {
      display: block;
    }
 
    .categories__wrapper {
     padding-left: 0;
     padding-top: 20px;
    }
 
    .additional__wrapper {
     padding-top: 20px;
    }
 
    .message__wrapper {
     padding-top: 20px;
    }
 
}



